<!-- Add User Form -->
<div [ngClass]="{ 'container p-3': currentRouteUrl === '/register' }">
  <label
    *ngIf="currentRouteUrl === '/register'"
    for="tnpHeader"
    class="p-2 card mx-auto text-primary h1 col-8"
    style="border: none"
  >
    T&P Management</label
  >

  <div
    class="card p-2"
    [ngClass]="{ 'col-8 mx-auto': currentRouteUrl === '/register' }"
  >
    <div class="bd-highlight d-flex p-2 h3">Add Student</div>

    <hr class="mt-0 mb-1" />

    <div class="row p-2">
      <div class="col-8">
        <form [formGroup]="studentForm">
          <div class="form-row mb-2">
            <!-- FullName -->
            <div class="col-md-6">
              <label for="fullName">Full name</label>
              <input
                type="text"
                formControlName="fullName"
                class="form-control is-valid"
                id="fullName"
                [ngClass]="{
                  'is-invalid': hasError('fullName'),
                  'is-valid': studentForm.get('fullName').valid
                }"
                required
              />
              <!-- Validation Error-->
              <div
                [ngClass]="{
                  'invalid-feedback': studentForm.get('fullName').invalid
                }"
                *ngIf="hasError('fullName')"
              >
                <div *ngIf="studentForm.get('fullName').errors?.['required']">
                  Full Name is required.
                </div>
                <div *ngIf="studentForm.get('fullName').errors?.['minlength']">
                  Full Name must be at least 4 characters.
                </div>
                <div *ngIf="studentForm.get('fullName').errors?.['maxlength']">
                  Full Name must not be greater than 25 characters.
                </div>
              </div>
            </div>

            <!--  Email  -->
            <div class="col-md-6">
              <label for="email">Email</label>
              <input
                type="email"
                formControlName="email"
                class="form-control"
                id="email"
              />
            </div>
          </div>

          <div class="form-row mb-2">
            <!-- Username -->
            <div class="col-md-6">
              <label for="username">UserId</label>
              <input
                type="text"
                formControlName="username"
                class="form-control"
                [ngClass]="{
                  'is-invalid': hasError('username'),
                  'is-valid': studentForm.get('username').valid
                }"
                id="username"
                value="sunil123"
                required
              />
              <!-- Validation Error-->
              <div
                [ngClass]="{
                  'invalid-feedback': studentForm.get('username').invalid
                }"
                *ngIf="hasError('username')"
              >
                <div *ngIf="studentForm.get('username').errors?.['required']">
                  Username is required.
                </div>
                <div *ngIf="studentForm.get('username').errors?.['minlength']">
                    Username must be at least 4 characters.
                </div>
                <div *ngIf="studentForm.get('username').errors?.['maxlength']">
                    Username must not be greater than 25 characters.
                </div>
              </div>
            </div>

            <!--  Password  -->
            <div class="col-md-6">
              <label for="password">Password</label>
              <input
                type="password"
                formControlName="password"
                class="form-control is-invalid"
                id="password"
                [ngClass]="{
                  'is-invalid': hasError('password'),
                  'is-valid': studentForm.get('password').valid
                }"
                aria-describedby="validationServerPassword"
                value="Sunil!23"
                required
              />
              <!-- Validation Error-->
              <div
                [ngClass]="{
                  'invalid-feedback': studentForm.get('password').invalid
                }"
                *ngIf="hasError('password')"
              >
                <div *ngIf="studentForm.get('password').errors?.['required']">
                  Password is required.
                </div>
                <div *ngIf="studentForm.get('password').errors?.['minlength']">
                  Password must be at least 6 characters.
                </div>
                <div *ngIf="studentForm.get('password').errors?.['maxlength']">
                  Password must not be greater than 25 characters.
                </div>
              </div>
            </div>
          </div>

          <div class="form-row mb-2">
            <!-- Mobile No -->
            <div class="col-md-6">
              <label for="mobile">Mobile No</label>
              <input
                type="number"
                formControlName="mobile"
                class="form-control"
                id="mobile"
                [ngClass]="{ 'is-invalid': hasError('mobile') }"
              />
              <!-- Validation Error-->
              <div
                [ngClass]="{
                  'invalid-feedback': studentForm.get('mobile').invalid
                }"
                *ngIf="hasError('mobile')"
              >
                <div *ngIf="studentForm.get('mobile').errors?.['minlength']">
                  Mobile No must be 10 digits only.
                </div>
              </div>
            </div>

            <!-- Gender -->
            <div class="col-md-6">
              <label for="gender">Gender</label>
              <select
                class="custom-select is-invalid"
                formControlName="gender"
                id="gender"
                aria-describedby="gender"
                [ngClass]="{
                  'is-invalid': hasError('gender'),
                  'is-valid': studentForm.get('gender').valid
                }"
              >
                <option selected disabled value="">Choose...</option>
                <option>Female</option>
                <option>Male</option>
                <option>Other</option>
              </select>
              <!-- Validation Error-->
              <div
                [ngClass]="{
                  'invalid-feedback': studentForm.get('gender').invalid
                }"
                *ngIf="hasError('gender')"
              >
                <div *ngIf="studentForm.get('gender').errors?.['required']">
                  Gender is required.
                </div>
              </div>
            </div>
          </div>

          <div class="form-row mb-2">
            <!-- Address -->
            <div class="col-md-12">
              <label for="address">Address</label>
              <textarea
                class="form-control"
                formControlName="address"
                id="address"
                placeholder="Address"
              ></textarea>
            </div>
          </div>
          <br />
          <!-- Submit button -->
          <div class="d-flex">

          
          <button
            class="btn btn-primary"
            [disabled]="studentForm.invalid"
            type="submit"
            (click)="saveStudent()"
          >
            Submit
          </button>
          <label *ngIf="currentRouteUrl === '/register'" for="" class="ml-4 nav-link text-right d-flex"
            ><a routerLink="/login" class="">Log In</a>
          </label>
        </div>
        </form>
      </div>
      <div class="col-4">
        <div class="bg-light mb-3" style="max-width: 18rem; height: 65vh">
          <div class="card-header text info">Information</div>
          <div class="card-body">
            <ul class="m-0 pl-1">
              <li class="p-1">Please provide valid details.</li>
              <li class="p-1">
                Make Sure Student should have at least SSC and HSC
                qualification.
              </li>
              <li class="p-1">
                Mobile Number is option but we suggest you to provide valid
                Number, so that Comunication wil be easy.
              </li>
              <li class="p-1">Do not registered yourself twice.</li>
              <!-- <li class="p-1">Full Name should not be greater than 60 characters.</li>
                        <li class="p-1">Only Characters, number and underscore are allowed in UserId.</li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
