 .side-bar {
  overflow-y: auto !important;
  background: #ced9d5 !important;
 }

 .nav-link {
    color: #000;
 }

 .heading {
  font-weight: bold;
  color: rgb(199, 135, 17);
 }

 .menu-items {
  height: 76vh;;
  overflow: auto;
 }

 /* li:hover {
   background-color: rgb(5, 70, 136);
   color: #fff;
 } */

 .active{ 
   background: white 
}

/* hr {
  border: 0;
  border-top: 2px solid rgba(250, 240, 240, 0.1);
  margin-top: 5px;
  margin-bottom: 0px;
} */

.active-list-item {
  color: #fff !important; /* Note: You could also use a custom theme */
  background-color: #0962d6;
}