<!-------------------->

<div class="d-flex flex-column flex-shrink-0 p-2 bg-body-tertiary side-bar">
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
  >
    <img
      src="assets/sunil.jpg"
      class="bi pe-none me-2"
      width="40"
      height="32"
    />
    <span class="fs-4">TNP Management</span>
  </a>
  <hr />
  <div class="menu-items">
    <ul class="nav nav-pills flex-column mb-auto" *ngFor="let m of menu">
      <li class="nav-item">
        <div *ngIf="m.subMenu.length == 0">
          <a
            [routerLink]="m.link"
            class="nav-link link-body-emphasis"
            routerLinkActive="active-list-item"
            *ngIf="m.visibilityCondition"
          >
            <i class="{{ m.icon }} menu-icon"></i>
            {{ m.label }}
          </a>
        </div>

        <div *ngIf="m.subMenu.length > 0">
          <a
            href="#menu-{{ m.label }}"
            class="nav-link link-body-emphasis"
            data-bs-toggle="collapse"
            role="button"
            *ngIf="m.visibilityCondition"
            (click)="navigateToLink(m.link)"
          >
            <i class="{{ m.icon }} menu-icon"></i>
            {{ m.label }}
          </a>
        </div>

        <div
          *ngIf="m.subMenu.length > 0"
          id="menu-{{ m.label }}"
          class="collapse nav"
        >
          <ul style="list-style-type: none; width: 100%">
            <li class="nav-item ml-4" *ngFor="let subM of m.subMenu">
              <a
                class="nav-link link-body-emphasis"
                *ngIf="subM.visibilityCondition"
                [routerLink]="subM.link"
                routerLinkActive="active-list-item"
              >
                <i class="{{ subM.icon }}"></i>
                {{ subM.label }}
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <hr />
  <div class="dropdown">
    <a
      href="#"
      class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <img
        src="/assets/sunil.jpg"
        alt="Profile Picture"
        width="32"
        height="32"
        class="rounded-circle me-2"
      />
      <strong>{{getFullName()}}</strong>
    </a>
    <ul class="dropdown-menu text-small shadow">
      <li>
        <a class="dropdown-item" href="#">
          <i class="fas fa-key pr-2"></i>
          &nbsp; Change Password
        </a>
      </li>
      <li>
        <a class="dropdown-item" href="#"
          ><i class="fas fa-cogs pr-2"></i>&nbsp;Settings</a
        >
      </li>
      <li>
        <a class="dropdown-item" href="#"
          ><i class="fas fa-user pr-2"></i>&nbsp;Profile</a
        >
      </li>
      <li><hr class="dropdown-divider" /></li>
      <li>
        <a class="dropdown-item text-danger" style="cursor: pointer;" (click)="logOut()"
          ><i class="fas fa-sign-out-alt pr-2"></i> &nbsp;Sign out</a
        >
      </li>
    </ul>

    <!---------->

    <!-- <ul
      class="dropdown-menu d-block position-static mx-0 shadow w-100px"
      data-bs-theme="light"
    >
      <li>
        <a class="dropdown-item d-flex gap-2 align-items-center" href="#">
          <i class="fas fa-key"></i>
          Change Password
        </a>
      </li>
      <li>
        <a class="dropdown-item d-flex gap-2 align-items-center" href="#">
          <i class="fas fa-cogs"></i>
          Setting
        </a>
      </li>
      <li>
        <a class="dropdown-item d-flex gap-2 align-items-center" href="#">
          <i class="fas fa-user"></i>
          Profile
        </a>
      </li>
      <li><hr class="dropdown-divider" /></li>
      <li>
        <a
          class="dropdown-item text-danger d-flex gap-2 align-items-center"
          href="#"
        >
          <i class="fas fa-sign-out-alt"></i>
          Sign out
        </a>
      </li>
    </ul> -->
  </div>
</div>
