<nav class="navbar bg-body-tertiary m-0 p-0">
  <div class="container-fluid nav-header p-2">
    <a class="navbar-brand text-white">T&P Management</a>
    <form class="d-flex" role="search">
      <div class="input-group btn-group dropleft">
        <div class="">
          <img
            src="/assets/sunil.jpg"
            class="rounded-circle"
            alt="..."
            style="width: 50px; height: 50px"
            type="button"
            data-toggle="dropdown"
            aria-expanded="false"
            data-display="static"
          />
          <div class="dropdown-menu" style="width: 200px; height: 100px">
            <div class="form-group">
              <a class="nav-link" href="#">View Profile</a>
              <a class="nav-link text-danger" href="#">Log Out</a>
            </div>
          </div>
        </div>
      </div>

      <!-- ----------------- -->
    </form>
  </div>
</nav>
