/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/styles//ag-grid.css";
@import "~ag-grid-community/styles//ag-theme-alpine.css";

/* .ag-header,
.ag-advanced-filter-header {
  background: rgb(158, 161, 185) !important;
  color: #fff;
} */

/* Custom styling for toastr */
.toast-container {
  width: 300px;
  z-index: 10000;
  background-color: rgb(54, 172, 54);
  color: #fff;
  left: 0;
  bottom: 0;
}


/*  --- Scroll Bar --  */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(187, 170, 170);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #989ab8;
  -webkit-box-shadow: inset 0 0 6px rgba(90, 90, 90, 0.7);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
